<div class="row">
</div>
<div class="gallery" id="gallery">
  <% @favorites.each do |photo| %>
    <div class="container animation">
      <div class="text-block">
        <p><%= photo.description %></p>
        <%= button_to like(photo.unsplash_id), delete_favorite_path(unsplash_id: photo.unsplash_id), method: :delete, :class => 'btn btn-danger UnLike' %>
      </div>
      <img class="img-fluid" src="<%= photo.image_url %>">
    </div>
  <% end %>
</div>