<div class="row">
</div>
<div class="gallery" id="gallery">
    <% @photos.each do |photo| %>
    <div class="container">
      <div class="text-block">
        <p><%= photo["alt_description"] %></p>
        <%= button_to like(photo.id), {:controller => "favorites", :action => 'create', :unsplash_id => photo["id"], :description => photo["alt_description"], :image_url => photo['urls']['small']}, :method => :post %>
        <%= button_to like(photo.id), delete_favorite_path(unsplash_id: photo.id),
                      method: :delete%>
      </div>
      <img class="img-fluid" src="<%= photo['urls']['small']%>" alt="Card image cap">
    </div>
    <% end %>
</div>
