<!-- Grid row -->
<div class="row">

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="gallery" id="gallery">
  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <% @photos.each do |photo| %>
      <p><%= photo["alt_description"] %></p>
      <p><%= photo["liked_by_user"] %></p>
      <img class="img-fluid" src="<%= photo['urls']['small']%>" alt="Card image cap">
    <% end %>
  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<div class="container">
  <div class="row">

  </div>
</div>

